.clusterNav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0% 0% 0%;
  margin: 0% 0% 0% 0%;
  background-color: #4169E1;
  border-radius: 0%;
  text-align:center;
}

.clusterNav>div{
  
  
}

.buttonCluster {
  display: flex;
  
}



  